*{
        margin: 0; 
        padding: 0; 
        line-height: 21px;
        box-sizing: border-box; 
        font-family: 'Inter', sans-serif;
}



body{
background: url(background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white; 

}
.container{
        margin-left: 8%;
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        /* background-color: rgb(0, 0, 0); */
        width: 750px;
        position: absolute;
}
h1{
        font-size: 200px; 
        font-weight: 900;
        color: #21b024; 
}
h2{
        font-size: 30px; 
        font-weight: 900;  
}

.titles{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10%;
        margin-left: 10%;
        margin-bottom: 5%;
        width: fit-content;
        padding: 40px; 
        padding-top: 80px; 
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
}
input{
        border-radius: 10px;
        border-color: white;
        height: 40px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-left: 20px;
}
input[type=text]{
        font-size: 20px;
        color: rgb(93, 91, 91);
        width: 80%;
        padding: 12px 20px;
        box-sizing: border-box;
}
.joinNow{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        margin-left: 10%;
        /* background-color: green; */
        width: 98%;

        
}
form{
        display: flex;
        align-items: center;
}
label{
        font-size: 25px;
        font-weight: 900;  
        color: rgb(245, 245, 245);
        margin-right: 3%;
        white-space: nowrap;
}
img{
        width: 20%;
        height: 20%;
        margin: 40; 
        padding-top: 20px; 
        padding-bottom: 20px; 
        padding-left: 30px; 
        padding-right: 20px;  

}
svg{
        width: 20%;
        height: 20%;
        margin: 40;
        padding-top: 20px; 
        padding-bottom: 20px; 
        padding-left: 20px; 
        padding-right: 20px; 
}

.images{
        width:90%; 
        margin-top: 2%;
        
     
}

    
form{
        width: fit-content;


        padding-left: 40px;
        padding-right: 40px;
        height: 100px; 

        background: #48a04a;  /* fallback for old browsers */

        border-radius: 20px;
        border-width: 5px;
        border-color: rgb(230, 230, 230);
        border-style: solid;

}